body {
	background-image: url(../images/Meeting-Room/Snapshots/Meeting-Room.jpg);
	background-attachment: fixed;
}

input {
	width: 100%;
}

.container {
	margin: 10% auto;
}

.panel {
	padding: 0px;
}

.panel-body, .list-group-item {
	padding: 20px;
	padding-left: 4%;
	padding-right: 4%;
}

.panel-heading {
	font-size: 2em;
	color: white;
}

#pair-logo {
	margin-right: 1em;
}

#url-example {
	background-color: lightgreen;
	color: lightslategray;
}